.countries{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:10px;
}
.country{
    border: 3px solid green;
    background-color: rgb(187, 238, 238);
    text-align: center;
    padding: 20px;
}
.country img{
    width: 200px;
}